<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>Hakkımızda</span>
                        <h2>Sona Tur</h2>
                    </div>
                    <p class="f-para">
                        Sona Tur olarak, seyahat etmenin sadece bir yerden bir yere gitmek değil; yeni hikâyeler, dostluklar ve anılar biriktirmek olduğuna inanıyoruz.
                        Kurulduğumuz günden bu yana misafirlerimize güvenli, konforlu ve keyifli seyahat deneyimleri sunmak için çalışıyoruz.
                    </p>
                    <p class="s-para">
                        Deneyimli ekibimiz, her seyahatinizden memnun kalmanız için titizlikle planlama yapar, size en uygun rotaları ve konaklama seçeneklerini sunar.
                        Sona Tur ile yola çıkın, dünyayı keşfetmenin tadını çıkarın.
                    </p>
                    <a href="#" class="primary-btn about-btn">Daha Fazlası</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="/sona-master/img/about/about-1.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src="/sona-master/img/about/about-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>